version: '{branch}-{build}'

image: Visual Studio 2017

clone_depth: 50

environment:
  REPO_DIR: &REPO_DIR c:\hash

  NINJA_DIR: c:\ninja
  NINJA_URL: https://github.com/ninja-build/ninja/releases/download/v1.8.2/ninja-win.zip

  PYTHON3_DIR: C:\Python36-x64

clone_folder: *REPO_DIR


install:
  # python
  - set PATH=%PYTHON3_DIR%;%PYTHON3_DIR%\Scripts;%PATH%
  - python --version
  # ninja
  - cd \
  - appveyor DownloadFile "%NINJA_URL%" -FileName "ninja.zip"
  - 7z e "ninja.zip" -o"%NINJA_DIR%"
  - set PATH=%PATH%;%NINJA_DIR%
  - ninja --version


build_script:
  # tests
  - cd "%REPO_DIR%\tests"
  - build_win32.bat
  - run_tests -d yes
  # program
  - cd "%REPO_DIR%\src\program"
  - build_win32.bat
  - move "%REPO_DIR%\src\program\_build\hash.exe" "%REPO_DIR%"


test: off

artifacts:
  - path: hash.exe
    name: executable
