version: '{branch}-{build}'

image: Visual Studio 2022

clone_depth: 50

environment:
  REPO_DIR: &REPO_DIR c:\hash
  PYTHON3_DIR: C:\Python310-x64

clone_folder: *REPO_DIR


install:
  # python
  - set PATH=%PYTHON3_DIR%;%PYTHON3_DIR%\Scripts;%PATH%
  - python --version

build_script:
  # tests
  - cd "%REPO_DIR%\tests"
  - build_win32.bat
  - cd "_build" && run_tests -d yes
  # program
  - cd "%REPO_DIR%\src\program"
  - build_win32.bat
  - move "_build\hash.exe" "%REPO_DIR%"

test: off

artifacts:
  - path: hash.exe
    name: executable
